/* 背景色 */
.bg-navbar { background-color: #3888c0; } /* 导航栏的背景色 */

.bg-main{ background: #aacfe5; }/* 主体部分背景色 */
.bg-control-panel { background-color: #aacfe5; } /* 控制面板的背景色 */
.bg-output-canvas { background-color: #3888c0; } /* 输出画面的背景色 */
.bg-sub-panel {background-color: #aacfe5; } /* 副面板的背景色 */
.bg-input-video { background-color: #68acd5; } /* 输入视频的背景色 */
.bg-chart { background-color: #aacfe5; } /* 图表区的背景色 */
.bg-chart-1 { background-color: #08336e; } /* 表1背景色 */
.bg-chart-2 { background-color: #105ca4; } /* 表2背景色 */
.bg-chart-3 { background-color: #3888c0; } /* 表3背景色 */
.bg-chart-4 { background-color: #68ACD5; } /* 表4背景色 */

.bg-bottom {background-color: #d2e3f3; }   /* 底部背景颜色 */
.bg-chart-5 { background-color: #68acd5; } /* 表5背景色 */
.bg-text { background-color: #aacfe5; } /* 文字提示部分背景色 */

/* 设置边框宽度和颜色 */
.border {
    border-width: 1px !important;
    border-color: #535353 !important;
}

/* 调整导航栏高度 */
.navbar-custom {
    padding-left: 0.6rem;
    padding-top: 0.3rem; /* 增加上内边距 */
    padding-bottom: 0.3rem; /* 增加下内边距 */
    background-color: #007bff; /* 自定义背景色 */
    color: white; /* 字体颜色 */
    font-size: 1rem; /* 自定义字体大小 */
}

/* 卡片 */
.custom-header {
    background-color: #007bff; /* 自定义背景色 */
    font-size: 1rem; /* 自定义字体大小 */
    padding: 0.2rem;/* 边界 */
    text-align: center;/*位置居中*/
    color: white; /* 字体颜色 */
}
.custom-card {
    border-color: #535353; /* 自定义边界线颜色 */
    border-width: 1px; /* 自定义边界线宽度 */
}
.custom-card-body {
    padding: 0.2rem; /* 自定义内边距 */
}

/* 默认字体大小 */
body {
    font-size: 1rem; /* 设置默认的字体大小 */
}

/* 控制模块，源选择，自定义按钮颜色和去除阴影 */
.btn-custom-selected, .btn-custom-unselected {
    box-shadow: none !important; /* 去除阴影 */
}
.btn-custom-selected {
    background-color: #4CAF50; /* 亮绿色 */
    color: white;
}
.btn-custom-unselected {
    background-color: #f8f9fa; /* 浅灰色 */
    color: black;
}
.btn-group-custom {
    border-radius: 0.5rem; /* 圆角边框 */
    border: 1px solid #cccccc; /* 边框线 */
    overflow: hidden; /* 隐藏溢出的子元素 */
}
/* 居中对齐的label */
.text-center-label {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
}

/*文件选择按钮*/
.btn-custom-file-select {
    background-color: #4CAF50; /* 深蓝色背景 */
    color: white; /* 白色文字 */
    border: none; /* 无边框 */
}
.btn-custom-file-select:hover {
    background-color: #4CAF50; /* 鼠标悬停时的颜色 */
}
.btn-custom-file-select:active {
    box-shadow: none !important; /* 取消点击时的阴影 */
}
/* 如果使用Bootstrap Icons，确保图标与文字颜色一致 */
.btn-custom-file-select .bi {
    color: white;
}